button {
    flex-wrap: wrap;
    border-radius: 12px;
    color: white;
    background-color: black;
    width: 400px;
    height: 75px;
}

button:hover{
    color:black;
    background-color: white;
}

button:active {
    color: red;
    background-color: white;
}

.quiz-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

.question-count {
    font-size: 16px;
    margin: 10px;
    color: blue;
    font-weight: bold;

}

.question-card {
    font-size: 16px;
}

.final-score {
    padding-bottom: 20px;
    font-weight: bold;
}

.leave-random-quiz {
    display: grid;
    justify-items: center;
    color: red;
}

@media only screen and (max-width: 650px) {
    button {
        width: 250px;
        height: 37.5px;
        font-size: 8px;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 15px;
    }
    .question-count {
        font-size: 12px;
    }
    .question-card {
        font-size: 8px;
    }
    .final-score {
        font-size: 12px;
    }
}