.navbar {
    background-color: rgb(186, 185, 185);
    border-bottom: 2px solid black;
}

.navbar-links {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-links-item {
    list-style-type: none;
    display: block;
}

.navbar-links-link {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin: 0;
    padding: 5px;
    display: inline-block;
}

.navbar-links-link:active{
    color:white;
}

.q-mark-pic {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 70px;
}

img {
    width: inherit;
    height: inherit;
}

@media only screen and (max-width: 600px) {
    .navbar{
        height: 50px;
        font-size: 10px;
        border-bottom: none;
    }
    .q-mark-pic{
        /* On a smaller device, the question mark icon does not render
        Necessary to save space on mobile phones */
        font-size: 0px;
    }
}