.question-body {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

.question-text {
    padding: 10px;
    font-size: 16px;
}

.answers{
    display: flex;
    flex-flow: wrap;
    padding: 10px;
    margin: 10px;
    gap: 10px;
    align-items: center;
    justify-content: center;
};

.answer-button {
    color: white;
    background-color: black;
};

.answer-button:active {
    color:red;
    background-color: white;
}

@media only screen and (max-width: 650px) {
    .question-text{
        font-size: 12px;
    }
}