.answers{
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    gap: 10px;
};

.answer-button {
    color: white;
    background-color: black;
};

.answer-button:active {
    color:red;
}