.titles{
    display:flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 40px;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-left: 40px;
}

.form-control {
    width: 400px;
}

.register-button {
    height: 20px;
    width: 200px;
    color: white;
}

.register-button.hover {
    color: red;
}