.titles{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}

.form-control {
    width: 400px;
}

.register-button {
    height: 20px;
    width: 200px;
    color: white;
}

.register-button.hover {
    color: red;
}

@media only screen and (max-width: 600px) {
    .form-control {
        width: 200px;
        font-size: 8px;
    }
}