.titles{
    display:flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 40px;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-left: 40px;
}

.button {
    height: 20px;
}

.button:hover{
    color: white;
    background-color: aqua;
}