.take-quiz-array{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
}

.take-indiv-quiz{
    padding: 5px;
    margin: 5px;
}

.leave-quiz-button{
    color: red;
    width: 90%;
    height: 50px;
}

.leave-quiz-button:hover{
    background-color: red;
    color: black;
}

.leave-quiz-button:active{
    background-color: white;
    color: red;
}