.button-quiz {
    border-radius: 12px;
    font-size: 12px;
    background-color: beige;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.button-quiz:hover {
    background-color: green;
    color: white;
}

.button-quiz:active {
    background-color: white;
    color: green;
}