.button-quiz {
    border-radius: 12px;
    font-size: 16px;
    background-color: black;
    color: red;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 250px;
}

.button-quiz:hover {
    background-color: red;
    color: black;
}

.button-quiz:active {
    background-color: red;
    color: white;
}

@media only screen and (max-width: 650px) {
    .button-quiz {
        font-size: 12px;
        padding: 5px;
        margin: 5px;
        width: 200px;
    }
}