.select-a-quiz-text {
    font-size: inherit;
}

.execute-quiz {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.take-quiz-array{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
}

.take-indiv-quiz{
    padding: 5px;
    margin: 5px;
}

.leave-quiz-button{
    color: red;
    width: 90%;
    height: 50px;
}

.leave-quiz-button:hover{
    background-color: red;
    color: black;
}

.leave-quiz-button:active{
    background-color: white;
    color: red;
}


@media only screen and (max-width: 650px) {
    .select-a-quiz-text {
        font-size: 12px;
    }
}